{% extends 'base.html' %}
{% block title %}
    <title>
        Add New Book
    </title>
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="Book Name" name="name">
            <label for="name">Book Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="author" placeholder="Author's Name" name="author">
            <label for="author">Author's Name</label>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="thumbnail">Thumbnail</label>
            <input type="file" class="form-control" id="thumbnail" name="thumbnail">
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Book pdf</label>
            <input type="file" class="form-control" id="inputGroupFile01" name="bookpdf">
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pages" placeholder="No Of Pages" name="no_of_pages">
            <label for="pages">No of Pages</label>
        </div>

        <button type="submit" class="btn btn-success">ADD</button>
    </form>
</div>
{% endblock %}