{% extends 'base.html' %}

{% block title %}
<title>
    Doubts
</title>
{% endblock %}

{% block style %}
    <style>
        a{
            text-decoration: none;
            color: black;
            font-size: large;
            font-weight: 400;
        }
        a:hover{
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="my-3">
        <div>
            <h1>All doubts:</h1>
        </div>
        <div>
            <ul class="list-group">
                {% for obj in objects %}
                <li class="list-group-item"><a href="{% url 'show_doubt' obj.id %}">{{obj.question}} <a href="{% url 'user_info' obj.author.slug %}"><span class="badge bg-secondary"
                        style="float:right;">{{obj.author}}</span></a></a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    let act = document.getElementById('doubts');
    act.classList.add('active');
</script>
{% endblock %}