{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>
    Doubts
</title>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block style %}
<style>
    .black-theme {
        background-color: rgb(43, 41, 41);
        color: rgb(168, 176, 219);
        font-weight: 500;
    }

    .list-group-item {
        background-color: inherit;
        font-size: smaller;
    }

    .my-list {
        list-style: none;
    }

    .my-list>li {
        margin-top: 10px;
    }



    .form-floating {
        color: black;
        font-weight: 600;
    }

    .collapse {
        color: grey;
    }

    .que > p{
        font-size: large;
        margin: 2px 2px;
    }

</style>
{% endblock %}

{% block content %}
<div class="container">

    <div class="search-books my-2">
        <div class="my-4">
            <div class="d-flex justify-content-center h-100">
                <form method="POST">
                    {% csrf_token %}
                    <div class="searchbar">
                        <input class="search_input" type="text" name="search_query"
                            placeholder="Search by keyword ex python , tech">
                        <a type="submit" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row my-4">

        <div class=" card col-md-3 black-theme mx-5">
            <h4 class="card-title my-2">Browse</h4>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" data-bs-toggle="collapse" href="#all-que" role="button"
                    aria-expanded="false" aria-controls="all-que">All questions <span
                        style="float: right;">{{doubts|length}}</span></li>
                <li class="list-group-item" data-bs-toggle="collapse" href="#asked-by-you" role="button"
                    aria-expanded="false" aria-controls="asked-by-you">Asked by you</li>
            </ul>
            <hr>
            <h6>Labels:</h6>
            <ul class="my-list">
                <li class=" labels " data-bs-toggle="collapse" href="#python" role="button" aria-expanded="false"
                    aria-controls="python">Python</li>
                <li class=" labels " data-bs-toggle="collapse" href="#tech" role="button" aria-expanded="false"
                    aria-controls="tech">
                    Tech</li>
                <li class=" labels " data-bs-toggle="collapse" href="#politics" role="button" aria-expanded="false"
                    aria-controls="politics"> Politics</li>
                <li class=" labels " data-bs-toggle="collapse" href="#webd" role="button" aria-expanded="false"
                    aria-controls="webd">
                    Webd</li>
                <li class=" labels " data-bs-toggle="collapse" href="#covid" role="button" aria-expanded="false"
                    aria-controls="covid">
                    Covid</li>
            </ul>

        </div>

        <div class=" card col-md-6 black-theme mx-4">
            <h4 class="card-title my-2">Doubts<button data-bs-toggle="collapse" href="#new-doubt" role="button"
                    aria-expanded="false" aria-controls="new-doubt" type="button" class="btn btn-success"
                    style="float: right;">New
                    doubt</button></h4>
            <hr>

            <div class="collapse card my-1" id="new-doubt">
                <div class="card card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Enter doubt"
                                name="question">
                            <label for="floatingInput">Enter doubt</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput1" placeholder="Tags" name="tags">
                            <label for="floatingInput1">Tags</label>
                        </div>
                        {% if request.user.is_authenticated %}
                        <button type="submit" name="ask" class="btn btn-success">ADD</button>
                        {% else %}
                        <button type="submit" name="ask" class="btn btn-success" disabled>ADD</button>
                        <small>You must <a href="{% url 'login' %}"> login </a> to add book.</small>
                        {% endif %}
                    </form>
                </div>
            </div>

            {% if query %}
            <div id="query_reply">
                <div class="card card-body">
                    <h3 style="color: rgb(56, 54, 54);">Doubts on {{query}} : </h3>
                    <ul class="list-group">
                        {% for obj in allpost %}
                        <li class="list-group-item" style="color: black; font-size: large;">
                            <p class="que">
                                <a href="{% url 'show_doubt' obj.id %}">
                                    {{obj}}
                                </a>
                                <span style="float: right;">
                                    {% for tag in obj.tags.all %}
                                    <span class="badge bg-secondary" style="float: right; margin-right: 2px;">{{tag}}</span>
                                    {% endfor %}
                                </span>

                                
                            </p>
                            <small class="que"> Asked by: 
                                <a style="text-decoration: none;"
                                    href="{% url 'user_info' obj.author.id %}">{{obj.author}}
                                </a>
                                <span style="float: right;">{{obj.solution_set.all|length}} answers </span>
                            </small>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="collapse my-1" id="all-que">
                <div class="card card-body">

                    <ul class="list-group">
                        {% for obj in doubts %}
                        <li class="list-group-item" style="color: black; font-size: large;">
                            <p class="que">
                                <a href="{% url 'show_doubt' obj.id %}">
                                    {{obj}}
                                </a>
                                <span style="float: right;">
                                    {% for tag in obj.tags.all %}
                                    <span class="badge bg-secondary" style="float: right; margin-right: 2px;">{{tag}}</span>
                                    {% endfor %}
                                </span>

                                
                            </p>
                            <small class="que"> Asked by: 
                                <a style="text-decoration: none;"
                                    href="{% url 'user_info' obj.author.id %}">{{obj.author}}
                                </a>
                                <span style="float: right;">{{obj.solution_set.all|length}} answers </span>
                            </small>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="collapse my-1" id="asked-by-you">
                <div class="card card-body">
                    {% if request.user.is_authenticated %}
                    <ul class="list-group">
                        {% for obj in cuser %}
                        <li class="list-group-item" style="color: black; font-size: large;">
                            <p class="que">
                                <a href="{% url 'show_doubt' obj.id %}">
                                    {{obj}}
                                </a>
                                <span style="float: right;">
                                    {% for tag in obj.tags.all %}
                                    <span class="badge bg-secondary" style="float: right; margin-right: 2px;">{{tag}}</span>
                                    {% endfor %}
                                </span>

                                
                            </p>
                            <small class="que"> Asked by: 
                                <a style="text-decoration: none;"
                                    href="{% url 'user_info' obj.author.slug %}">{{obj.author}}
                                </a>
                                <span style="float: right;">{{obj.solution_set.all|length}} answers </span>
                            </small>
                            
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>
                        <img src="{% static 'images/oops.jpg' %}" alt="login-first"
                            style="height: 300px;   width: 200px;">
                        <span style="font-size:larger;"> You must <a href="{% url 'login' %}"> login </a> first</span>
                    </p>
                    {% endif %}
                </div>
            </div>



            <div class="collapse my-1" id="python">
                <div class="card card-body">
                    <ul class="list-group">
                        {% for obj in pthdbt %}
                        <li class="list-group-item" style="color: black; font-size: large;">
                            <p class="que">
                                <a href="{% url 'show_doubt' obj.id %}">
                                    {{obj}}
                                </a>
                                <span style="float: right;">
                                    {% for tag in obj.tags.all %}
                                    <span class="badge bg-secondary" style="float: right; margin-right: 2px;">{{tag}}</span>
                                    {% endfor %}
                                </span>

                                
                            </p>
                            <small class="que"> Asked by: 
                                <a style="text-decoration: none;"
                                    href="{% url 'user_info' obj.author.id %}">{{obj.author}}
                                </a>
                                <span style="float: right;">{{obj.solution_set.all|length}} answers </span>
                            </small>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="collapse my-1" id="tech">
                <div class="card card-body">
                    <ul class="list-group">
                        {% for obj in tech %}
                        <li class="list-group-item" style="color: black; font-size: large;">
                            <p class="que">
                                <a href="{% url 'show_doubt' obj.id %}">
                                    {{obj}}
                                </a>
                                <span style="float: right;">
                                    {% for tag in obj.tags.all %}
                                    <span class="badge bg-secondary" style="float: right; margin-right: 2px;">{{tag}}</span>
                                    {% endfor %}
                                </span>

                                
                            </p>
                            <small class="que"> Asked by: 
                                <a style="text-decoration: none;"
                                    href="{% url 'user_info' obj.author.id %}">{{obj.author}}
                                </a>
                                <span style="float: right;">{{obj.solution_set.all|length}} answers </span>
                            </small>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="collapse my-1" id="politics">
                <div class="card card-body">
                    <ul class="list-group">
                        {% for obj in politics %}
                        <li class="list-group-item" style="color: black; font-size: large;">
                            <p class="que">
                                <a href="{% url 'show_doubt' obj.id %}">
                                    {{obj}}
                                </a>
                                <span style="float: right;">
                                    {% for tag in obj.tags.all %}
                                    <span class="badge bg-secondary" style="float: right; margin-right: 2px;">{{tag}}</span>
                                    {% endfor %}
                                </span>

                                
                            </p>
                            <small class="que"> Asked by: 
                                <a style="text-decoration: none;"
                                    href="{% url 'user_info' obj.author.id %}">{{obj.author}}
                                </a>
                                <span style="float: right;">{{obj.solution_set.all|length}} answers </span>
                            </small>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="collapse my-1" id="covid">
                <div class="card card-body">
                    <ul class="list-group">
                        {% for obj in covid %}
                        <li class="list-group-item" style="color: black; font-size: large;">
                            <p class="que">
                                <a href="{% url 'show_doubt' obj.id %}">
                                    {{obj}}
                                </a>
                                <span style="float: right;">
                                    {% for tag in obj.tags.all %}
                                    <span class="badge bg-secondary" style="float: right; margin-right: 2px;">{{tag}}</span>
                                    {% endfor %}
                                </span>

                                
                            </p>
                            <small class="que"> Asked by: 
                                <a style="text-decoration: none;"
                                    href="{% url 'user_info' obj.author.id %}">{{obj.author}}
                                </a>
                                <span style="float: right;">{{obj.solution_set.all|length}} answers </span>
                            </small>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="collapse my-1" id="webd">
                <div class="card card-body">
                    <ul class="list-group">
                        {% for obj in webd %}
                        <li class="list-group-item" style="color: black; font-size: large;">
                            <p class="que">
                                <a href="{% url 'show_doubt' obj.id %}">
                                    {{obj}}
                                </a>
                                <span style="float: right;">
                                    {% for tag in obj.tags.all %}
                                    <span class="badge bg-secondary" style="float: right; margin-right: 2px;">{{tag}}</span>
                                    {% endfor %}
                                </span>

                                
                            </p>
                            <small class="que"> Asked by: 
                                <a style="text-decoration: none;"
                                    href="{% url 'user_info' obj.author.id %}">{{obj.author}}
                                </a>
                                <span style="float: right;">{{obj.solution_set.all|length}} answers </span>
                            </small>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>

</div>
{% endblock %}

{% block script %}
<script>
    let act = document.getElementById('doubts');
    act.classList.add('active');

</script>
{% endblock %}