{% extends 'base.html' %}
{% block title %}
    <title>
        Add doubt
    </title>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Enter doubt" name="question">
                <label for="floatingInput">Enter doubt</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput1" placeholder="Tags" name="tags">
                <label for="floatingInput1">Tags</label>
              </div>
              <button type="submit" class="btn btn-primary">Ask</button>
        </form>
    </div>
{% endblock %}