{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>
  Gnosis
</title>
{% endblock %}

{% block link %}
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock %}

{% block style %}
<style>
 .carousel{
   background-color: white;
   border-radius: 20px;
   margin-top: 20px;
   box-shadow: aqua;
 }

 .carousel h2{
  text-align: center;
  font-style: italic;
  color: rgb(25, 33, 150);
  margin-top: 50px;
 }

    .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;

  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  font-weight: 500;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  font-weight: 500;
  color: black;
}

 .row{
   margin: 50px 5px;
 }

 form{
    font-weight: 600;
    font-size: 17px;
  }


</style>
{% endblock %}

{% block content %}
<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      {% for news,desc,img in fst %}
      <div class="carousel-item active row">
        <div class="row">
          <div class="col-md-4 mx-2">
            <h2 style="text-align: center;">{{news}}</h2>
          </div>
          <div class="col-md-6 mx-2">
            <img src="{{img}}" class="img-fluid" alt="{{news}}">
          </div>
        </div>
      </div>
      {% endfor %}
      {% for news,desc,img in allnews %}
      <div class="carousel-item ">
        <div class="row">
          <div class="col-md-4 mx-2">
            <h2>{{news}}</h2>
          </div>
          <div class="col-md-7 mx-2">
            <img src="{{img}}" class="img-fluid" alt="{{news}}">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row rounded">
    <div class="col-md-4 mx-2">
      <img data-aos="fade-right" src="{% static 'images/home1.jpg' %}" class="img-fluid" alt="{{news}}">
    </div>
    <div data-aos="fade-left" class="col-md-7 mx-2">
      <h2 style="color: rgb(255, 238, 80);">What's Gnosis?</h2>
      <p style="color: azure;">Gnosis is the common Greek noun for knowledge . The term is used in various Hellenistic religions and philosophies. It is best known from Gnosticism. Therefore, Gnosis is a website that implies the motive of increasing the knowledge of the user in every domain. As a student we know the importance of knowledge and gainful material on the internet but what is everything is available in a single place and that too in a well-defined manner.</p>
    </div>
  </div>

  <div class="row rounded">
    <div data-aos="fade-left" class="col-md-7 mx-2">
      <h2 style="color: coral;">Why Gnosis?</h2>
      <p style="color: azure;">In today’s world there are enormous number of websites which are focused on the knowledge domain but are not compatible enough to cover the whole domain. As a student we know the importance of knowledge and gainful material on the internet but what is everything is available in a single place and that too in a well-defined manner. The interest for articles/books/blogs reading changes from person to person so we thought to cover every interest domain of user in a single frame with our website.</p>
    </div>
    <div class="col-md-4 mx-2">
      <img data-aos="fade-right" src="{% static 'images/why1.jpg' %}" class="img-fluid" alt="{{news}}">
    </div>
  </div>

  <h2 style="color: cornsilk; margin-left: 10px; font-style: oblique;">Valuable Reviews: </h2>

</div>

<marquee behavior="" direction="right">
  {% for rvw in allreviews %}
    <div  style=" display:inline-block; background-color: white; width: 400px; height: 200px; margin: 10px 10px; border-radius: 50px;">
      <p style="margin: 10px 10px; font-size: larger; font-weight: 400; font-style: italic;" ><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="80"> {{rvw.name}}</p>
      <p style="font-size: 20px; font-style: italic; margin-left: 10px;">{{rvw.review}}</p>
    </div>
  {% endfor %}

</marquee>

<div class="container">

  <div class="row" style="color: rgb(176, 238, 82);">
    <div class="col-md-6 my-3">
      <h5>Submit your review:</h5>
      <div class="my-3" style="margin-right: 20px;">

        <div>

          <form action="" method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="name">
              <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="review" placeholder="Review" name="review">
              <label for="review">Your review</label>
            </div>
            <button type="submit" class="my-2 btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 my-3 mx-4">
      <h5>Terms and conditions:</h5>
      <ul>
        <li>By using this site you are accepting all the terms and condition of <a href="{% url 'home' %}" style="color: inherit; text-decoration:underline ;"><a href="{% url 'home' %}" style="color: inherit; text-decoration:underline ;">Gnosis</a></a> .</li>
        <li>You are responsible for any activity that occurs under your screen name.</li>
        <li>You are responsible for keeping your password secure.</li>
        <li>Violation of any of these agreements will result in the termination of your <a href="{% url 'home' %}" style="color: inherit; text-decoration:underline ;">Gnosis</a> account. While <a href="{% url 'home' %}" style="color: inherit; text-decoration:underline ;">Gnosis</a> prohibits such conduct and content on its site, you understand and agree that <a href="{% url 'home' %}" style="color: inherit; text-decoration:underline ;">Gnosis</a> cannot be responsible for the Content posted on its web site and you nonetheless may be exposed to such materials and that you use the <a href="{% url 'home' %}" style="color: inherit; text-decoration:underline ;">Gnosis</a> service at your own risk.</li>
        <li>We reserve the right to modify or terminate the <a href="{% url 'home' %}" style="color: inherit; text-decoration:underline ;">Gnosis</a> service for any reason, without notice at any time.</li>
      </ul>
    </div>
  </div>

</div>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

{% endblock %}

{% block script %}
<script>
  let act = document.getElementById('home');
  act.classList.add('active');
  const mobileBtn = document.getElementById('mobile-cta')
  nav = document.querySelector('nav')
  mobileBtnExit = document.getElementById('mobile-exit');

  mobileBtn.addEventListener('click', () => {
    nav.classList.add('menu-btn');
  })

  mobileBtnExit.addEventListener('click', () => {
    nav.classList.remove('menu-btn');
  })
  $('.carousel').carousel({
    interval: 2000
  })
</script>
{% endblock %}