{% extends 'base.html' %}
{% block title %}
<title>
    Doubt
</title>
{% endblock %}

{% block style %}
<style>
    .container{
        margin-top: 10px;
        padding-left: 10%;
    }
</style>
{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <div>
        <div>
            
            <h2><img src="{{object.author.userimage.url}}" class="img-thumbnail" style="height: 50px; width: 50px; border-radius: 50%; margin-right: 10px;" alt="User image">{{object}}</h2>
            <p>Asked By: 
                <a href="{% url 'user_info' object.author.slug %}">
                    <span class="badge bg-secondary">{{object.author}}</span>
                </a>
            </p>
        </div>

        <hr>

        <div>
            {% for obj in object.solution_set.all %}
            <p><img src="{{obj.author.userimage.url}}" class="img-thumbnail" style="height: 50px; width: 50px; border-radius: 50%; margin-right: 10px;" alt="User image"> <a href="{% url 'user_info' obj.author.slug %}"><span class="badge bg-secondary">{{obj.author}}</span></a></p>
            <p style="font-size: larger; font-weight: 400; color:rgb(14, 175, 9);">{{obj}}</p>
            <hr>
            {% endfor %}
        </div>
        <div class="new ans">
            <h5>Write a answer to this question</h5>
            <div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <textarea name="answer" id="" cols="30" rows="10">
                    </textarea>
                    <br>
                    {% if request.user.is_authenticated %}
                    <button type="submit" class="btn btn-success">Submit</button>
                    {% else %}
                    <button type="submit" class="btn btn-success" disabled>Submit</button>
                    <small>You must login to answer any question.</small>
                    {% endif %}

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    let act = document.getElementById('doubts');
    act.classList.add('active');
</script>
{% endblock %}