{% extends 'base.html' %}
{% block title %}
<title>
    Doubt
</title>
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <h3>{{object}}</h3><span class="badge bg-secondary">{{object.author}}</span>
    </div>
    <div>
        {% for obj in object.solution_set.all %}
        <p>{{obj}}</p>
        <span class="badge bg-secondary">{{obj.author}}</span>
        {% endfor %}
    </div>
    <div class="new ans">
        <h5>Write a answer to this question</h5>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <textarea name="answer" id="" cols="30" rows="10">
                </textarea>
                {% if request.user.is_authenticated %}
                    <button type="submit" class="btn btn-success">Submit</button>
                {% else %}
                    <button type="submit" class="btn btn-success" disabled>Submit</button>
                {% endif %}
                
            </form>
        </div>
    </div>
</div>
{% endblock %}